@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Model.Mesaj</p>

</div>

<div>
    <h2>Customers</h2>

    <a asp-page="/Create">New Customer</a>
    <form method="post">

        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Durum</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.Customers)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>
                            <a class="btn btn-info" asp-page="/Edit" asp-route-id="@item.Id">Edit</a>
                            <button class="btn btn-danger" type="submit" asp-route-id="@item.Id" asp-page-handler="Delete">Delete</button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </form>

</div>